In [25]:
# The necessary installation(s) 

#!pip install numpy==1.21.4
#!pip install pandas==1.3.4
#!pip install keras==2.1.6
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.20.1)
Requirement already satisfied: numpy>=1.8.2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from scikit-learn) (1.21.6)
Requirement already satisfied: scipy>=0.13.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from scikit-learn) (1.7.3)

In [26]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
#import sklearn.metrics as metrics

import warnings
warnings.simplefilter('ignore', FutureWarning)

In [27]:
# Loading the data 

concrete_data = pd.read_csv("concrete_data.csv")
print("Dimensions (rows & columns) of the dataset:", concrete_data.shape)
concrete_data.head()

Dimensions (rows & columns) of the dataset: (1030, 9)

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [28]:
# Checking the presence of missing data
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [29]:
# Selecting the predictors 

predictors = concrete_data[concrete_data.columns[concrete_data.columns!='Strength']]
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [30]:
# Selecting the target 

target = concrete_data['Strength']
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [31]:
# Saving the #inputs required (same as the #predictors) to be used in the regression model 

n_cols = predictors.shape[1]
n_cols

8

In [32]:
# Spliting the training and testing set using the scikit-learn function 

x_train, x_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3)
print ('Train set:', x_train.shape,  y_train.shape)
print ('Test set:', x_test.shape,  y_test.shape)

Train set: (721, 8) (721,)
Test set: (309, 8) (309,)

In [40]:
import keras

In [35]:
from keras.models import Sequential
from keras.layers import Dense

In [36]:
# The function for regression model with one hidden layer of 10 nodes

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [37]:
# Function for the Mean Squre Error

def MeanSqureError_Estimator():
    model = regression_model()
    model.fit(x_train, y_train, validation_data=(x_test, y_test), epochs=50, verbose=0)
    y_pred = model.predict(x_test, verbose=0) 
    return mean_squared_error(y_test, y_pred)

In [41]:
results = []

for i in range(1, 51):
    results.append({"Iteration": i, "MSE": MeanSqureError_Estimator()})

results_df = pd.DataFrame(results)
print(results_df)

    Iteration          MSE
0           1   196.741416
1           2  4082.326698
2           3   112.424554
3           4   142.685418
4           5   110.160023
5           6   115.499134
6           7  1358.454625
7           8   284.547560
8           9   164.147585
9          10   134.040537
10         11   183.487717
11         12   569.924871
12         13   368.310614
13         14   128.635632
14         15   159.361761
15         16   687.629092
16         17    91.273036
17         18   283.155918
18         19   354.832981
19         20   156.432396
20         21   169.956289
21         22   598.055673
22         23   166.228944
23         24   198.969900
24         25   486.297736
25         26   114.813594
26         27  1317.929774
27         28   839.632022
28         29   365.720587
29         30   240.136194
30         31   152.121427
31         32   250.327744
32         33   128.792227
33         34   162.880515
34         35   562.770510
35         36   595.798757
36         37   412.398662
37         38   114.282386
38         39   127.871196
39         40   128.271329
40         41   329.818412
41         42   123.894016
42         43  1353.619563
43         44   177.937359
44         45   188.504093
45         46   830.993654
46         47   312.371062
47         48   662.252237
48         49   253.044419
49         50   284.687808

In [43]:
# Mean and Standard deviation 

mean_mse = results_df['MSE'].mean()
print("Mean value of all the mean square errors", mean_mse)

sd_mse = results_df['MSE'].std() 
print("Standard devition of all the mean square errors", sd_mse)

Mean value of all the mean square errors 426.68899311832683
Standard devition of all the mean square errors 616.5604986794706